@import url('https://use.typekit.net/gtc8eln.css');
@font-face {
  font-family: 'Migra';
  src: url('fonts/Migra-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Migra Italic';
  src: url('fonts/MigraItalic-Italic.woff') format('woff');
}

/* STYLES */

h1 {
  font-family: 'Migra';
  font-size: 59px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #9b131b;
}

h2 {
  font-family: 'Museo Sans';
  font-weight: 500;
  font-size: 29px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9b131b;
}

h3 {
  font-family: 'Migra';
  font-size: 42px;
  text-align: center;
  color: #9b131b;
  letter-spacing: 2px;
}

h4 {
  font-family: 'Migra Italic';
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 30px;
  margin-left: 150px;
  margin-top: 0px;
  margin-right: 150px;
  color: #9b131b;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* NAVIGATION */

nav {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  z-index: 1;
}

.topnav {
  display: flex;
  list-style: none;
}

.topnav li {
  padding-right: 40px;
}

.topnav a:hover {
  color: #ba7b00;
}

.topnav a.active {
  color: #ba7b00;
}

.menu-nav a.kopi-active {
  color: #9b131b;
}

.menu-nav a.wholebean-active {
  color: #ba7b00;
}

.menu-nav a.food-active {
  color: #7b84b4;
}

nav a {
  color: #5b6495;
  font-family: 'Museo Sans';
  font-size: 20px;
  color: #5b6495;
  text-decoration: none;
  text-transform: uppercase;
}

.topnav .visit {
  margin-top: 30px;
  margin-right: 70px;
}

.topnav .shop {
  margin-top: 30px;
  margin-left: 70px;
}

nav .logo {
  width: 170px;
}

.menu-nav {
  list-style: none;
}

.menu-nav li {
  padding-right: 40px;
}

.menu-nav a {
  font-family: 'Museo Sans';
  font-size: 38px;
  font-weight: 900;
  color: #c16c51;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 80px;
}
.menu-right {
  padding-left: 60px;
}
/* HOMEPAGE */

.homepage {
  display: flex;
}

.left {
  width: 50%;
  height: 800px;
  background-color: #f2d3d3;
  text-align: center;
  position: relative;
}

.left h1 {
  line-height: 0px;
}

.left h2 {
  margin-top: 30px;
}

.left h4 {
  margin-top: 30px;
}

.scallop {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.right {
  width: 50%;
  height: 800px;
  position: relative;
}

.right img {
  border-bottom-left-radius: 30px;
}

.tag {
  position: absolute;
  top: 100px;
  left: 80px;
  z-index: 1;
  width: 80%;
  background-color: #ba7b00;
  padding: 5px;
  justify-content: center;
  color: #FFFFFF;
}

.tag p {
  text-align: center;
  font-family: 'Migra';
  font-size: 24px;
  letter-spacing: 1px;
  padding: 50px;
  
}

.wholebean-button {
  border: solid #fff 2px;
  background-color: transparent;
  text-decoration: none;
  color: #fff;
  padding: 15px 50px;
  font-family: 'Museo Sans';
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 60px;
  transition-duration: 0.4s;
  margin: auto;
}

.wholebean-button:hover {
  background-color: #fff;;
  color: #ba7b00;
  text-decoration: none;
}

.about {
  margin: auto;
  margin-top: 90px;
  margin-bottom: 90px;
  width: 60%;
}

.about p {
  font-family: 'Museo Sans';
  font-size: 25px;
  font-weight: 300;
  color: #c16c51;
  text-align: center;
}

.about div {
  display: flex;
}

.about img {
  margin-right: 60px;
}

.ginger {
  background-color: #7b84b4;
  display: flex;
}

.ginger-text {
  margin-top: 50px;
  width: 40%;
}

.ginger img {
  margin: auto;
}

.ginger h3 {
  font-family: 'Migra';
  font-size: 42px;
  text-align: left;
  color: #fff;
  letter-spacing: 2px;
}

.ginger p {
  font-family: 'Museo Sans';
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  text-align: left;
}

/* MENUS */

.kopi-right {
  width: 50%;
  height: 800px;
  position: relative;
  background-color: #9b131b;
  color: #fff;
  display: flex;
  padding: 30px;
  justify-content: space-around;
}

.food-item {
  font-family: 'Museo Sans';
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  min-width: 140px;
  padding-right: 22px;
  padding-top: 5px;
}


.price {
  padding-right: 16px;
  padding-top: 5px;
  font-family: 'Museo Sans';
  font-size: 15px;
  font-weight: 500;
}

.food-description {
  display: inline-block;
  font-family: 'Migra Italic';
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 16px;
  max-width: 350px;
  padding-top: 3px;
}

.table-section {
  margin-top: 0px;
}

td {
  vertical-align: top;
}

/* FOOD */ 

.food-right {
  width: 50%;
  height: 800px;
  position: relative;
  background-color: #7b84b4;
  color: #fff;
  display: flex;
  padding: 30px;
}

.menu-left {
  width: 50%;
}

.menu-right {
  width: 50%;
}

.food-section {
  display: inline-block;
  font-family: 'Migra';
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 21px;
  max-width: 300px;
  padding-bottom: 3px;
}

/* VISIT */

.address h2 {
  font-family: 'Museo Sans';
  font-size: 29px;
  font-weight: 600;
  color: #7b84b4;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

.address p {
  line-height: 5px;
}

.address .date {
  font-family: 'Museo Sans';
  font-size: 21px;
  font-weight: 600;
  color: #7b84b4;
  text-transform: uppercase;
}

.address .date-two {
  font-family: 'Museo Sans';
  font-size: 21px;
  font-weight: 600;
  color: #7b84b4;
  text-transform: uppercase;
  padding-top: 20px;
}

.address .time {
  font-family: 'Museo Sans';
  font-size: 21px;
  font-weight: 300;
  color: #7b84b4;
}

button {
  border: solid #7b84b4 2px;
  background-color: #f2d3d3;
  color: #7b84b4;
  padding: 15px 50px;
  margin-top: 15px;
  margin-bottom: 30px;
  font-family: 'Museo Sans';
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 60px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #7b84b4;
  color: #fff;
}

/* SHOP */

.pagi-about {
  margin-top: 70px;
}

.pagi-about p {
  font-family: 'Museo Sans';
  font-size: 20px;
  color: #9b131b;
  font-weight: 400;
  padding-left: 100px;
  padding-right: 100px;
}

.shop {
  margin: 20px;
}

.shipping {
  margin: 80px;
}

.shop-cards {
  display: flex;
  margin-bottom: 20px;
}

.shop-cards div {
  flex: 1;
  justify-content: space-around;
}

.shop-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
}

.scroll {
  height: 280px;
  overflow: scroll;
}

.scroll-large {
  height: 310px;
  overflow: scroll;
}

.flip-card-front h1 {
  font-family: 'Museo Sans';
  font-size: 29px;
  font-weight: 500;
  color: #fff;
}

.flip-card-front h2 {
  font-family: 'Museo Sans';
  font-size: 21px;
  font-weight: 500;
  color: #fff;
  text-align: left;
  margin: 0;
  margin-left: 20px;
  margin-top: 20px;
}

.flip-card-front h3 {
  font-family: 'Migra Italic';
  font-size: 20px;
  color: #fff;
  text-align: left;
  margin: 0;
  margin-left: 20px;
}

.flip-card-back h1 {
  font-family: 'Museo Sans';
  font-size: 29px;
  font-weight: 500;
  color: #5b6495;
}

.flip-card-back h2 {
  font-family: 'Museo Sans';
  text-align: left;
  margin: 0;
  margin-left: 20px;
  font-size: 21px;
  font-weight: 500;
  color: #5b6495;
}

.flip-card-back h3 {
  font-family: 'Migra Italic';
  text-align: left;
  text-transform: capitalize;
  margin: 0;
  margin-left: 20px;
  font-size: 18px;
  color: #5b6495;
}

.flip-card-back h4 {
  font-family: 'Museo Sans';
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 500;
  color: #5b6495;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.flip-card-back p {
  font-family: 'Migra Italic';
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #5b6495;
  text-align: left;
  margin: 0;
  margin-left: 20px;
}

.flip-card-front-medium h1 {
  font-family: 'Museo Sans';
  font-size: 29px;
  font-weight: 500;
  color: #fff;
}

.flip-card-front-medium h2 {
  font-family: 'Museo Sans';
  font-size: 21px;
  font-weight: 500;
  color: #fff;
  text-align: left;
  margin: 0;
  margin-left: 20px;
  margin-top: 20px;
}

.flip-card-front-medium h3 {
  font-family: 'Migra Italic';
  font-size: 20px;
  text-transform: capitalize;
  color: #fff;
  text-align: left;
  margin: 0;
  margin-left: 20px;
}

.flip-card-back-medium h1 {
  font-family: 'Museo Sans';
  font-size: 29px;
  font-weight: 500;
  color: #5b6495;
}

.flip-card-back-medium h2 {
  font-family: 'Museo Sans';
  text-align: left;
  margin: 0;
  margin-left: 20px;
  font-size: 21px;
  font-weight: 500;
  color: #5b6495;
}

.flip-card-back-medium h3 {
  font-family: 'Migra Italic';
  text-align: left;
  margin: 0;
  margin-left: 20px;
  font-size: 18px;
  color: #5b6495;
}

.flip-card-back-medium h4 {
  font-family: 'Museo Sans';
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 500;
  color: #5b6495;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.flip-card-back-medium p {
  font-family: 'Migra Italic';
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #5b6495;
  text-align: left;
  margin: 0;
  margin-left: 20px;
}

.flip-card-front-dark h1 {
  font-family: 'Museo Sans';
  font-size: 29px;
  font-weight: 500;
  color: #fff;
}

.flip-card-front-dark h2 {
  font-family: 'Museo Sans';
  font-size: 21px;
  font-weight: 500;
  color: #fff;
  text-align: left;
  margin: 0;
  margin-left: 20px;
  margin-top: 20px;
}

.flip-card-front-dark h3 {
  font-family: 'Migra Italic';
  font-size: 20px;
  text-transform: capitalize;
  color: #fff;
  text-align: left;
  margin: 0;
  margin-left: 20px;
}

.flip-card-back-dark h1 {
  font-family: 'Museo Sans';
  font-size: 29px;
  font-weight: 500;
  color: #f2d3d3;
}

.flip-card-back-dark h2 {
  font-family: 'Museo Sans';
  text-align: left;
  margin: 0;
  margin-left: 20px;
  font-size: 21px;
  font-weight: 500;
  color: #f2d3d3;
}

.flip-card-back-dark h3 {
  font-family: 'Migra Italic';
  text-align: left;
  margin: 0;
  margin-left: 20px;
  font-size: 18px;
  color: #f2d3d3;
}

.flip-card-back-dark h4 {
  font-family: 'Museo Sans';
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 500;
  color: #f2d3d3;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.flip-card-back-dark p {
  font-family: 'Migra Italic';
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #f2d3d3;
  text-align: left;
  margin: 0;
  margin-left: 20px;
}

.category {
  font-family: 'Museo Sans';
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}

.head-linetwo {
  padding-top: 10px;
}

.flip-card img {
  margin: 10px;
}

.flip-card .less-margin {
  margin: 0;
  margin-top: -10px;
  margin-bottom: -3px;
}

.flip-card {
  width: 432px;
  height: 554px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 431px;
  height: 554px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  margin: 20px 0px 20px 20px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front {
  background-color: #7b84b4;
  border: #fbc357 solid 3px;
  color: #fbc357;
  border-radius: 22px;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: #fbc357;
  border: #7b84b4 solid 3px;
  color: white;
  transform: rotateY(180deg);
  border-radius: 22px;
}

.flip-card-front-medium {
  background-color: #7b84b4;
  border: #f2d3d3 solid 3px;
  color: #fbc357;
  border-radius: 22px;
}

.flip-card-front-medium,
.flip-card-back-medium {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back-medium {
  background-color: #f2d3d3;
  border: #7b84b4 solid 3px;
  color: white;
  transform: rotateY(180deg);
  border-radius: 22px;
}

.flip-card-front-dark {
  background-color: #7b84b4;
  border: #5b6495 solid 3px;
  color: #fbc357;
  border-radius: 22px;
}

.flip-card-front-dark,
.flip-card-back-dark {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back-dark {
  background-color: #5b6495;
  border: #7b84b4 solid 3px;
  color: white;
  transform: rotateY(180deg);
  border-radius: 22px;
}

.buy {
  border: solid #7b84b4 2px;
  background-color: transparent;
  color: #7b84b4;
  padding: 15px 30px;
  margin-top: 15px;
  margin-bottom: 30px;
  font-family: 'Museo Sans';
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 60px;
  transition-duration: 0.4s;
}

.buy-dark {
  border: solid #f2d3d3 2px;
  background-color: transparent;
  color: #f2d3d3;
  padding: 15px 30px;
  margin-top: 15px;
  margin-bottom: 30px;
  font-family: 'Museo Sans';
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 60px;
  transition-duration: 0.4s;
}

.buy-dark:hover {
  background-color: #f2d3d3;
  color: #5b6495;
}

/* FOOTER */

.main-footer {
  width: 90%;
  margin: auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  position: bottom;
  color: white;
  margin-bottom: 50px;
}


.footercenter {
  text-align: center;
}

.footerright {
  display: flex;
}

.footerright .time {
  margin-left: 20px;
}

.main-footer h1 {
  color: #000;
  font-family: 'Museo Sans';
  font-size: 18px;
  font-weight: 500;
  margin-top: 50px;
}

.footer p {
  color: #000;
  font-family: 'Museo Sans';
  font-size: 18px;
  font-weight: 300;
  align-self: flex-end;
}

/**/

@media screen and (max-width: 1224px) {


}


@media screen and (max-width: 768px) {

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 22px;
    line-height: 26px;
  }
  .scallop {
    width: 0%;
  }
  
  .homepage {
    flex-direction: column;
  }

  .left {
    width: 100%;
  }

  .right {
    width: 100%;
  }

  .right img {
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .kopi-right {
    width: 100%;
  }

  .food-right {
    width: 100%;
  }

  .about {
    margin: auto;
  }

  .about div {
    flex-direction: column;
    width: 80%;
    margin: auto;
  }

  .about img {
    width: 30%;
    margin: auto;
  }

  .ginger img {
    width: 80%;
    margin: auto;
  }

  .ginger p {
    margin: 0;
  }

  .ginger-text {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
  }

  .topnav li {
    padding: 0;
    justify-content: space-around;
  }

  .ginger {
    flex-direction: column;
  }

  .shop-cards {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .footer {
    flex-direction: column;
    margin: auto;
  }

  .main-footer {
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .footerright {
    margin: auto;
  }
  
}
